.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1 .u-text-1 {
  margin: 257px auto 0 253px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: 28px auto 0 246px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 194px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 89px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 633px;
}

.u-section-2 .u-group-1 {
  width: 584px;
  min-height: 573px;
  height: auto;
  margin: -111px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  width: 100%;
  border-style: none;
  padding: 10px 31px 10px 29px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}